@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "/css/normalize.css";
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: rgb(46, 45, 45);
  }
  h1 {
    font-family: "Merriweather", serif;
    font-size: 40px;
    background-color:#d5c7bc; 
    text-align:center;
    margin: 1em 1em 1em 0em;
  }
  html {
    min-width:100px;
    max-width: 1400px;
    margin:auto;
    background-color: #722929;
    box-sizing:border-box;
  }
  header {
    width: 150px;
    margin: auto;
    text-align:center;
  }
a:hover
{ color:black; }
a:link
{ color: black; }
a:visited
{ color: black; }
nav ul {
  margin: 0;
  text-align:center;
  list-style-type: none;
  display: grid;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(2, ) ;
}
footer{
  padding: 1em 
}
main{
  max-width: 70px;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
}
main section{
padding: 5px;
margin: auto;
 
}
