@media only screen and (min-width: rem) {
    body {
        margin: auto;
        border-style: dotted;
        padding: 1em;
        max-width: 400px;
    }

    nav a {
        text-align: center;
        color: #37206e ;
        font-size: 1rem;
        text-decoration: none;

    }


    nav {
        margin: 0 0 0 0;
        position: relative;
    }

    nav ul li {
        flex: 1;
    }


    nav ul.hide {
        display: flex;
    }

    nav button {
        display: none;
    }

}