@import url('https://fonts.googleapis.com/css?family=Pacifico|Sulphur+Point&display=swap');
@import "/css/normalize.css";

/* colors*/
/*yellow ffffa8*/
/*gray d7d7d7*/
/*purple 37206e*/
header #title {
    font-family: 'Pacifico', cursive;
}

header {
    background-color: #d7d7d7;
    color: #37206e;
    text-align: center;
    padding: .5rem;
    overflow: hidden;
    font-size: 2rem;

}

body {
    color: #37206e;
    background-color: #d7d7d7;
    margin: 0 0 70px 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    padding: 0;
}

nav {
    margin: 0 0 0 0px;
    width: 100%;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

nav ul li a {
    padding: 1em;
    text-decoration: none;
    color: #37206e;
}



nav ul li a:hover {
    background-color: #001f54;
    color: #d7d7d7;
    border-radius: 10em;
}


li {
    list-style-type: none;
    margin: 0;
    font-size: 1.3em;
    color: #37206e;


}

main {
    margin: 0;
    background-color: #110e0e;
}

p {
    margin: 0;
    font-size: 1rem;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    padding: 0 10px 0;
    font-family: 'Pacifico', cursive;
}

#map {
    width: 400px;
    height: 320px;
}
form{
margin: auto;
}
 input {
    background-color: #ffffa8;
    border-style: none;
    max-width: 25em;
}

select {
    background-color: #ffffa8;
    max-width: 25em;
}

input #submit-button {
    margin: auto;
    width: 300px;
}

footer,
footer p {
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 1.1em;
}