@media screen and (min-width: 60rem){
  nav ul {
    display:flex ;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }
  header {
    color: #110e0e;
    font-size: 50px;
    width: auto;
    margin: auto;
    text-align:center;
  }
  .icon{
    float: left;
    border-radius: 50%; 
    width: 10vw;
  }
  } 