@media screen and (min-width: 32.5rem){
  nav ul{
    display:flex ;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }
  header {
    color: #110e0e;
    font-size: 45px;
    width: auto;
    margin: auto;
    text-align:center;
  }
  	.r-nav {
		display: flex;
	}
	.r-nav li:first-child {
		display: none;
	}
	.r-nav li {
		display: block;
		flex: 1 1 100%;
	}

} 