@media only screen and (min-width: 32.51rem) {

    header {
        font-size: 2rem;
        clear: left;  

    }

    nav a {
        text-align: center;
        color: white;
        font-size: 1rem;
        text-decoration: none;

    }

    nav {
        margin: 0;
        background-color: #110E0E;
        position: relative;
    }

    nav ul li {
        flex: 1;
    }


    nav ul.hide {
        display: flex;
    }

    nav button {
        display: none;
    }

    header img {
        float: left;
        width: 12rem;
    }

    #weather-section {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }

    main {
        margin: auto;
        max-width: 1600px;
    }

    #wind {
        grid-column: 9/11;
    }

    #gusts {
        grid-column: 16/18;
    }

    .weatherHeader {
        width: 100%;

    }

    .clear {
        background-image: url("/weather/images/img/clear.jpg");
    }

    .rain {
        background-image: url("/weather/images/img/rain.jpg");
    }

    .fog {
        background-image: url("/weather/images/img/fog.jpg");
    }

    .snow {
        background-image: url("/weather/images/img/snow.jpg");
    }

    .clouds {
        background-image: url("/weather/images/img/clouds.jpg");
    }


}