@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "/css/normalize.css";
/*
*.color-primary { color: #074D7E }
*.color-secondary 1 { color: #FFD763 }
*.color-secondary 2 { color: #131689 }
*
*/
body {
    background-color: #110e0e;
    font-family: 'Roboto', sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #074D7E;
  }
  h1 {
    font-family: "Merriweather", serif;
    font-size: 40px;
    color:#131689 ; 
    text-align:center;
  }
  h2 {
    font-family: "Merriweather", serif;
    font-size: 30px;
    color: #131689 ; 
    text-align:center;
  }
  html {
    min-width:100px;
    max-width: 1075px;
    margin:auto;
    background-color: #FFD763;
    box-sizing:border-box;
    padding: .5em;
  }
  header {
    color: #074D7E;
    font-size: 2em;
    width: auto;
    margin: auto;
    text-align:center;
  }
  nav a:hover {
    background-color: #074D7E;
    color: #FFD763;
  }
  .active {
    color: #131689;
  }
a:link
{ color:#FFD763; }
a:visited
{ color: #FFD763; }
nav ul {
  margin: 0;
  text-align:center;
  display: grid;
  list-style-type: none;
  box-shadow: 0 2px 15px ;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
}
.main-container{
    display: grid;
    grid-template-columns: repeat 2 ;
}
.colmun1{
    grid-column: 2;
    grid-row: 1;
}
footer{
  color: #074D7E;
  padding: 1em;
  margin: 0;
  text-align: center;
}