@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import "/css/normalize.css";

/*
*.color-primary { color: #074D7E }
*.color-secondary 1 { color: #FFD763 }
*.color-secondary 2 { color: #131689 }
*
*/
body {
    background-color: #110e0e;
    font-family: 'Roboto', sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: 0;
    color: #67a6d3;
  }
  h1 h2 h3 h4 h5 h6 {
    font-family: "Merriweather", serif;
    font-size: 30px;
    color: #67a6d3 ; 
    text-align:center;
  }
  html {
    min-width:100px;
    max-width: 1075px;
    margin:auto;
    background-color: #001f54;
    box-sizing:border-box;
    padding: .5em;
  }
  header {
    font-family: 'Slabo 27px', serif;
    background-color: #00bbfa;
    color: #110e0e;
    font-size: 2em;
    padding: 0.3em;
    width: auto;
    margin: auto;
    text-align:center;
    border-radius: 30px;
  }
  nav a:hover {
    border-radius: 30px;
    background-color: #67a6d3;
    color: #FFD763;
  }
.active {
background-color: #131689;
border-radius: 30px;

  }
a:link
{ color:#FFD763; }
a:visited
{ color: #FFD763; }
nav ul {
  margin: 0;
  text-align:center;
  display: grid;
  list-style-type: none;

}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75em;
	text-decoration: none;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr ;
}
.colmun1{
    grid-column: 2;
    grid-row: 1;
}
footer{
  color:#67a6d3;
  padding: 1em;
  margin: 0;
  text-align: center;
}
.icon{
  margin: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.primary {
  background-color: #67a6d3;
  color: white;
}

.secondary {
  background-color: #FFD763;
  color: white;
}

.accent1 {
  background-color: #131689;
  color: white;
}
.colors{
  margin: auto;
}
.icon{
  border-radius: 50%;
  width: 10vm;
}
/*#nav a [title~=plan],
#nav a [title~=plan],
#nav a [title~=plan],
#nav a [title~=plan] 
 background-color: <-color->;*/